<div class="container">
    <mat-card>
        <mat-card-content>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Placeholder" value="teste" name="email" type="email">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Placeholder" value="teste2" name="password" type="password">
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <button mat-raised-button color="primary" routerLink="/musics">LOGIN</button>
            </p>
        </mat-card-content>
    </mat-card>
</div>